/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.1rem;
  height: 1.6rem;
  right: 2.5rem;
  top: 1.25rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e5e5e5;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed;
  height: 24px;
  width: 24px;
  top: 1.5rem !important;
  right: 2.5rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 1)
  );
  padding: 2.5em 1em 0;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 3px 21px 2px 21px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #e5e5e5;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1rem; /* 18px */
  line-height: 1.75rem;
  font-weight: 200;
  text-transform: uppercase;
  transition: color 0.2s;
}

.bm-item:hover {
  border-left: solid 8px #1d315c;
  color: #ffffff;
  padding-left: 13px;
  cursor: pointer;
}
